<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecommerce Application">
    <test name="Ui test cases">
        <classes>
            <class name="com.persistent.ecommerce.ui.tests.EcommerceTests">
            </class>
        </classes>
    </test>
</suite>